@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.color-gray {
  color: gray !important;
}
.color-red {
  color: #d01919 !important;
}
.color-blue {
  color: #2185d0 !important;
}
.color-green {
  color: #16ab39 !important;
}
.mobile-view {
  display: none;
}
.c-data {
  top: 35%;
  left: 20%;
  transform: translate(-50%-20%);
  transform: scale(1.4);
}
@media only screen and (max-width: 500px) and (min-width: 378px) {
  .h6 {
    font-size: 0.74rem !important;
  }
  .col-md-6 {
    padding-left: 1px !important;
    padding-right:1px !important;
  }
  .data {
    font-size: .90rem ;
  }
  .row {
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
   #ct {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .mobile-view {
    display: inline !important;
  }
  .c-data {
    top: 30%;
    left: 0;
    transform: scale(1);
  }
  .total-text {
    font-size: 1.4rem !important;
  }
  .delta-text {
    font-size: 0.8rem;
  }
  .col {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}

@media only screen and (max-width: 377px) {
  .h6 {
    font-size: 0.6rem !important;
  }
  
  .row {
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
  .col {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
   #ct {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .data {
    font-size: .65rem;
  }
  .col-md-6 {
    padding-left: 1px !important;
    padding-right:1px !important;
  }
  .mobile-view {
    display: inline !important;
  }
  .c-data {
    top: 30%;
    left: 0;
    transform: scale(1);
  }
  .total-text {
    font-size: 1.1rem !important;
  }
  .delta-text {
    font-size: 0.8rem;
  }
}
.shadow-hover {
  transition: .2s ease-in-out;
}
.shadow-hover:hover {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.data {
  font-family: 'Poppins', sans-serif;
 }
 .Red {
   background: #EFD4D8;
   color: #DC3545;
 }
.Orange {
  background: rgb(241, 225, 181);
  color: #FD8824;
}
.Green {
  background: #D2E5DA;
  color: #28A745;
}
.table-c {
  background: rgb(217, 217, 217,.4);
}
.down {
  background: #575555 !important;
  color: ivory !important;
}